{% extends 'base.template.html' %}

{%block content%}

<h4>Ice Rinks in Singapore</h4>
<nav class="navbar navbar-light justify-content-start">
    <a class="btn btn-info mr-3" type="button" href="{{ url_for('rinks_list')}}">Show All</a>
        <form method="GET" class="form-inline">
            <input class="form-control mr-sm-2" type="text" name="location" placeholder="Search by Location"
                aria-label="Search">
            <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Search" />
        </form>
</nav>
    {%for rinks in rinks %}
<div class="cards">
    <div class="card m-3 rink">
        <img class="card-img-top" src="#" alt="{{rinks.name}} {{rinks.location}}" />
        <div class="card-body">
            <h5 class="card-title">{{rinks.name}} @ {{rinks.location}} </h5>
            <h6 class="card-title">{{rinks.phone}}</h6>
            <h6 class="card-title">{{rinks.address.unit}} {{rinks.address.building}}</h6>
            <h6 class="card-title">{{rinks.address.street}}</h6>
            <a class="btn btn-info mr-3" type="button" href="{{rinks.website}}" target="blank">Visit Website</a>
        </div>
       
    </div>
    {%endfor%}
</div>
    
{%endblock%}