{% extends 'base.template.html'%}

{%block content%}
<h4>Edit Details for Coach {{coach_to_edit.coach_fname}} {{coach_to_edit.coach_lname}}</h4>
<form method="POST">
    <div class="form-row mt-3">
        <div class="form-group col-md-6">
            <label class="form-label">First Name </label>
            <input type="text" name="coach_fname" value="{{coach_to_edit.coach_fname}}"
                class="form-control form-control-sm" placeholder="given name">
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">Last Name </label>
            <input type="text" name="coach_lname" value="{{coach_to_edit.coach_lname}}"
                class="form-control form-control-sm" placeholder="family name">
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-3">
            <label class="form-label">NROC Level </label>
            <select name="nroc_level" class="form-control form-control-sm">
                <option {%if coach_to_edit.nroc_level == '0-Provisional Coach'%} selected {%endif%}> 0-Provisional Coach
                </option>
                <option {%if coach_to_edit.nroc_level == '1-Coach'%} selected {%endif%}> 1-Coach</option>
                <option {%if coach_to_edit.nroc_level == '2-Senior Coach'%} selected {%endif%}> 2-Senior Coach</option>
                <option {%if coach_to_edit.nroc_level == '3-Master Coach'%} selected {%endif%}> 3-Master Coach</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">Email </label>
            <input type="email" name="coach_email" value="{{coach_to_edit.coach_email}}"
                class="form-control form-control-sm" placeholder="name@somewhere.com">
        </div>
        <div class="form-group col-md-3">
            <label class="form-label">Phone </label>
            <input type="text" name="coach_phone" value="{{coach_to_edit.coach_phone}}"
                class="form-control form-control-sm" placeholder="+65 1234 5678">
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-md-12">
            <label class="form-label">Philosophy </label>
            <input type="text" name="philosophy" value="{{coach_to_edit.philosophy}}"
                class="form-control form-control-sm" placeholder="sport coaching philosophy" />
        </div>
    </div>
    <div>
        <a class="btn btn-outline-success mt-3" href="{{ url_for('coaches_list')}}"> Back</a>
        <input type="submit" value="Update" class="btn btn-success mt-3" />
    </div>
</form>

{%endblock%}