body {
    background-color: aliceblue;
    margin: 25px;
}
.coach {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 22rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.student {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 12rem;
}