body {
    background-color: aliceblue;
    margin: 25px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card-text {
    font-style: italic;
}
.coach {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 18rem;
     border-radius:8px;
}
.student {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 16rem;
    border-radius:8px;
}
.rink {
    margin: 10px;
    padding: 5px;
    width: 50vw;
    color: black;
}
.close {
    color: darkred;
    opacity: 100%;
    padding: 0px 3px 3px 4px;
}
.close:hover {
    background-color: darkred;
    border-radius: 10px;
    color: white;
    padding: 0px 3px 3px 4px;
}
#pencil {
    width:16px;
}
.pencil:hover {
    background-color: #28a745;
    border-radius: 10px;
    padding: 0px 3px 3px 4px;
}
.card-img-top {
    width: 60%;
    align-self: center;
}
.alert {
    border-radius: 50px;
    padding-top:30px;
}
.alert-danger {
    padding-bottom: 30px;
}