body {
    background-color: aliceblue;
    margin: 25px;
}
.coach {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 22rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.student {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 12rem;
}
.close {
    color: darkred;
    opacity: 100%;
    padding: 0px 3px 3px 4px;
}
.close:hover {
    background-color: darkred;
    border-radius: 10px;
    color: white;
    padding: 0px 3px 3px 4px;
}
.card-img-top {
    width: 60%;
    align-self: center;
}